/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Python Backend
/python_backend/temp_audio/
/python_backend/models/
model_text.zip
model_text/
*.safetensors
*.wav
*.mp3
.ipynb_checkpoints/
